.root {
    margin: 0 15px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.logoHeader {
    width: 25%;
    display: flex;
    align-items: center;
}

.logoHeader img {
    width: 150px;
}

.logoHeader button {
    background: none;
    font-size: 1.5em;
    border-radius: 5px;
    margin-right: 20px; 
    
}

.searchHeader {
    width: 50%;
}

.searchHeader input {
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
    display: block;
}

.infoHeader {
    width: 25%;
}

.d-none {
    display: none;
}

.body {
    display: flex;
    margin: auto;
}

.header-registro img {
    width: 80px;
}

.header-registro {
    display: flex;
    align-items: center;
} 

.div-form-registrate {
    width: fit-content;
    padding: 10px 25px;
    margin: auto;   
}

.div-form-registrate p {
    font-size: 50px;
}

.div-form-registrate label {
    display: block;
    font-size: 20px;
}

.form-input-block {
    margin: 10px 0;
}

.form-input-block input {
    font-size: xx-large;
}

.div-form-registrate button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: #dbb9f1;
    border-color: purple;
}